<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Secrets</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        {% load humanize %}
    </head>
    <body>
      <nav>
        <div class="nav-wrapper">
          <a href="/secrets" class="brand-logo">Secrets</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <h5>Most Popular Searches</h5>
        {% for secret in secrets %}
        <p>{{secret.message}} <b>Whispered {{ secret.created_at|naturaltime }}</b> {{secret.likers.all.count}} likes
        {% if secret.author == currentuser %}
          <a href="delete/{{secret.id}}/pop">Delete</a>
          {% elif currentuser in secret.likers.all %}
          <strong>You liked this</strong>
          {% else %}
          <a href="like/{{secret.id}}/pop">Like</a>
          </p>
        {% endif %}
        {% endfor %}
      </div>
    </body>
</html>
