<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Secrets</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    </head>
    <body>
        <h2 class="container">Hello, Willie</h2>
        <div class="container row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <label for="textarea1">Into to the void...</label>
                <textarea name='message'id="textarea1" class="materialize-textarea" placeholder="Whisper your secret here.."></textarea>

              </div>
            </div>
            <input action="/" type="submit" value="Post" class="waves-effect waves-light btn">
            <a href="#">Check out the most popular secrets...</a>
          </form>
        </div>
        <div class="container">
            <h2>Recent Secrets....</h2>
            <p>Oops, I did it again (5 minutes ago) 0 likes <a href="#">Like</a></p>
            <p>I know who the Zodiac killer was.... (22 minutes ago) 6 likes <strong>You liked this</strong> <a href="#">Like</a></p>
            <p>I couldn't live without Diet Dr Pepper (1 hour, 45 minutes ago) 1 likes <strong>You posted this <a href="#">Delete</a></strong> <a href="#">Like</a></p>
        </div>
    </body>
</html>
        <!-- NOTE: THIS PAGE SHOWS THE MOST RECENT 5 OR 10 SECRETS.
        FOR EACH SECRET, SHOW HOW MANY LIKES THE SECRET RECEIVED,
        AND A LINK TO LIKE THIS SECRET IF THE USER HASN'T ALREADY.
        A USER CAN ALSO DELETE SECRETS HE OR SHE POSTED -->
