<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Secrets</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        {% load humanize %}
    </head>
    <body>
      <nav>
        <div class="nav-wrapper">
          <a href="/secrets" class="brand-logo">Secrets</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <h5>Hello, {{currentuser.first_name}} </h5>
        {% if messages %}
        <ul class="container">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="container row">
        <div class="input-field col s12">
          <form action="/process" class="col s12" method="POST">
          {% csrf_token %}
          <textarea name='message' id="textarea1" class="materialize-textarea" placeholder="Whisper your secret here."></textarea>
          <button type="submit" class="btn">Spill a secret!</button>
          </form>
        </div>
        <a href="popular">Most Popular Searches</a>
          <h5>Recent Secrets</h5>
          {% for secret in secrets %}
          <p>{{secret.message}} <b>Whispered {{ secret.created_at|naturaltime }}</b> {{secret.likers.all.count}} likes
          {% if secret.author == currentuser %}
            <a href="delete/{{secret.id}}/sec">Delete</a>
            {% elif currentuser in secret.likers.all %}
            <strong>You liked this</strong>
            {% else %}
            <a href="like/{{secret.id}}/sec">Like</a>
            </p>
          {% endif %}
          {% endfor %}
        </div>


      </div>
    </body>
</html>
        <!-- NOTE: THIS PAGE SHOWS THE MOST RECENT 5 OR 10 SECRETS.
        FOR EACH SECRET, SHOW HOW MANY LIKES THE SECRET RECEIVED,
        AND A LINK TO LIKE THIS SECRET IF THE USER HASN'T ALREADY.
        A USER CAN ALSO DELETE SECRETS HE OR SHE POSTED -->
