<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Secrets</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        {% load humanize %}
    </head>
    <body>
        <h5 class="container">Hello, {{user.first_name}} </h5>
        {% if messages %}
            <ul class="container">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        <div class="container row">
          <form action="/whisper" class="col s12" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="input-field col s12">
                <label for="textarea1">Into to the void...</label>
                <textarea name='message'id="textarea1" class="materialize-textarea" placeholder="Whisper your secret here.."></textarea>
                <button type="submit" class="btn">Spill a secret!</button>
              </form>
              </div>
            </div>
          {% for secret in secrets %}
            <h5> {{secret.user.first_name}} {{secret.user.last_name}}  - {{ secret.created_at|naturaltime }}</h5>

          </p>{{secret.message}}<b>{{likes}}likes</b></p>
            <form action="/like" method="POST">
              {% csrf_token %}
              <input action="/like" type="submit" value="Like" class="waves-effect waves-light btn">
              <input type="hidden" name= "like" value={{secret.id}}>
            </form>
          {% endfor %}
        </div>
    </body>
</html>
        <!-- NOTE: THIS PAGE SHOWS THE MOST RECENT 5 OR 10 SECRETS.
        FOR EACH SECRET, SHOW HOW MANY LIKES THE SECRET RECEIVED,
        AND A LINK TO LIKE THIS SECRET IF THE USER HASN'T ALREADY.
        A USER CAN ALSO DELETE SECRETS HE OR SHE POSTED -->
